/* add css module styles here (optional) */

.button {
  all: unset;
  border: none;
}

.overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 5; /* max */
}

.overlayBackground {
  /*background: rgba(0, 0, 0, 0.3);*/
  background-image: url(images/black-translucent-bg.png);
  background-repeat: repeat;
}

.modal {
  background: white;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
